<.header>
  Listing Tests
  <:actions>
    <.link patch={~p"/tests/new"}>
      <.button>New Test2</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="tests"
  rows={@streams.tests}
  row_click={fn {_id, test2} -> JS.navigate(~p"/tests/#{test2}") end}
>
  <:col :let={{_id, test2}} label="Name"><%= test2.name %></:col>
  <:action :let={{_id, test2}}>
    <div class="sr-only">
      <.link navigate={~p"/tests/#{test2}"}>Show</.link>
    </div>
    <.link patch={~p"/tests/#{test2}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, test2}}>
    <.link
      phx-click={JS.push("delete", value: %{id: test2.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="test2-modal" show on_cancel={JS.patch(~p"/tests")}>
  <.live_component
    module={PokemonDemoWeb.Test2Live.FormComponent}
    id={@test2.id || :new}
    title={@page_title}
    action={@live_action}
    test2={@test2}
    patch={~p"/tests"}
  />
</.modal>
